body {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg);
  width: 200;
  margin: 20px;
  font-family: "SF UI  Text G 4";
  font-size: 16px;
  align-content: center;
  text-align-all: center;
  align-self: center;
  color: rgba(31, 18, 28, 0.97);
}

.table1 {
  border-collapse: collapse;
  padding: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: "SF UI  Text G 4";
  font-size: 20px;
}

.tr_border {
  border-style: dashed;
  border-left: 4px;
  border-left-color: aqua;
  background-color: lightblue;
  text-align-all: center;
  height: 2vmax;
}

.tr_textCenter {
  /*margin-left: auto;
  margin-right: auto;*/
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-size: 18px;
}
